<article>
  <a href="/dashboard"> &larr; Dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{Post.title}}" />
    </div>
    <div>
      <textarea name="post-text">{{Post.post_text}}</textarea>
    </div>
    <div>
      Posted by you on {{format_date Post.created_at}}
      |
      <a href="/post/{{Post.id}}">{{Post.comments.length}} {{format_plural "comment" Post.comments.length}}</a>
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments Post.comments}}

<!--Scripts-->
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>